{{ define "main" }}

<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <nav aria-label="nav" class="nav justify-content-center">
            <a class="btn btn-white text-primary" href={{ .Site.Params.centralEastPageURL | relURL }}>{{ .Site.Params.centralEastPageName }}</a>
            <a class="btn btn-white text-primary" href={{ .Site.Params.centralWestPageURL | relURL }}>{{ .Site.Params.centralWestPageName }}</a>
            <a class="btn btn-white text-primary" href={{ .Site.Params.eastPageURL | relURL }}>{{ .Site.Params.eastPageName }}</a>
            <a class="btn btn-white text-primary" href={{ .Site.Params.northPageURL | relURL }}>{{ .Site.Params.northPageName }}</a>
            <a class="btn btn-white text-primary" href={{ .Site.Params.southPageURL | relURL }}>{{ .Site.Params.southPageName }}</a>
            <a class="btn btn-white text-primary" href={{ .Site.Params.torontoPageURL | relURL }}>{{ .Site.Params.torontoPageName }}</a>
            <a class="btn btn-white text-primary" href={{ .Site.Params.westPageURL | relURL }}>{{ .Site.Params.westPageName }}</a>
        </nav>
        <h3 class="breadCrumb__title mt-5 mb-0">{{ .Title }}</h3>
      </div>
    </div>
  </div>
</header>

<section class="section contact__info">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <div class="contact__info_item">
          <div class="contact__info_item-icon">
            <div class="icon-background">
              <svg xmlns="http://www.w3.org/2000/svg" width="122.457" height="109.702" viewBox="0 0 122.457 109.702">
                <path fill="#f1f6f9"
                  d="M49.855527 9.984102c-4.337424-.815024-8.766002-1.633779-13.152776-1.113889-8.196034.975107-15.344329 6.696991-19.41555 13.879649s-5.363288 15.655094-5.187042 23.907191c.156996 7.385448 1.479849 14.875357 4.972905 21.38465s9.337384 11.961229 16.458344 13.922244c4.833752 1.331211 10.056683 1.044827 14.74081 2.829827 7.560693 2.881382 12.209757 10.489626 19.01235 14.870016a25.650039 25.650039 0 0024.16316 1.698928c8.342551-3.846451 14.03857-12.107291 16.641338-20.918947s2.471077-18.187687 1.756125-27.346305c-.843101-10.912846-3.01686-22.783019-11.354287-29.869462-6.037066-5.130853-14.208558-6.772976-21.995428-8.235353z"
                  data-name="Path 1354" />
              </svg>
            </div>
            <div class="icon">
              <img src="{{ "images/agencies/icon-location.svg" | absURL }}" alt="location" />
            </div>
          </div>
          <h4>Areas</h4>
          <p>{{ .Params.agencies | markdownify }}
          </p>
        </div>
      </div>


      <div class="col-lg-9 mb-3">
        <div class="contact__info_item">
          <div class="contact__info_item-icon">
            <div class="icon-background">
              <svg xmlns="http://www.w3.org/2000/svg" width="122.457" height="109.702" viewBox="0 0 122.457 109.702">
                <path fill="#f1f6f9"
                  d="M49.855527 9.984102c-4.337424-.815024-8.766002-1.633779-13.152776-1.113889-8.196034.975107-15.344329 6.696991-19.41555 13.879649s-5.363288 15.655094-5.187042 23.907191c.156996 7.385448 1.479849 14.875357 4.972905 21.38465s9.337384 11.961229 16.458344 13.922244c4.833752 1.331211 10.056683 1.044827 14.74081 2.829827 7.560693 2.881382 12.209757 10.489626 19.01235 14.870016a25.650039 25.650039 0 0024.16316 1.698928c8.342551-3.846451 14.03857-12.107291 16.641338-20.918947s2.471077-18.187687 1.756125-27.346305c-.843101-10.912846-3.01686-22.783019-11.354287-29.869462-6.037066-5.130853-14.208558-6.772976-21.995428-8.235353z"
                  data-name="Path 1354" />
              </svg>
            </div>
            <div class="icon">
              <img src="{{ "images/agencies/icon-agencies.svg" | absURL }}" alt="phone" />
            </div>
          </div>
          <h4>Agencies</h4>
          <span class="top-title pre-line">{{ .Params.members }}</span>
          <p>{{ .Content }}
          </p>

        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
