{{ $data := index site.Data site.Language.Lang }}

{{ if $data.acknowledgementsSection.enable }}
{{ with $data.acknowledgementsSection }}
<section class="section acknowledgements" id="acknowledgements">
    <div class="acknowledgements__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="acknowledgements__header">
                    <span class="top-title">{{ .topTitle }}</span>
                    {{ .title | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial__slider">
                    {{ $section := .acknowledgements }}
                    {{ range $section }}
                    <div class="acknowledgements__slider_item text-center">
                        <p class="acknowledgements__slider_item-content h5 font-italic"> {{ .comment | markdownify }} </p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
