{{ $data := index site.Data site.Language.Lang }}

{{ if $data.financialSection.enable }}
{{ with $data.financialSection }}
<section class="section financial mt-0" id="financial">
    <div class="financial__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pr-5">
                <div class="financial__heading">
                    <div class="text-dark">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        {{ .title | markdownify }}
                    </div>

                    <div class="btn-group nav mt-5">
                        <a href="#{{.tab1Target}}" class="btn btn-primary active" data-toggle="tab">{{ .tab1Name }}</a>
                        <a href="#{{.tab2Target}}" class="btn btn-primary" data-toggle="tab">{{ .tab2Name }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="{{.tab1Target}}">
                        {{ $Section := .revenues }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-secondary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                            {{ $htmlTable := .Inner | markdownify }}
                        </div>
                        {{ end }}

                    </div>

                    <div class="resume__education tab-pane" id="{{.tab2Target}}">
                        {{ $Section := .expenditures }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}
                    </div>

                </div>
            </div>

{{ end }}
{{ end }}


</div>
</div>
</section>
