{{ $data := index site.Data site.Language.Lang }}

{{ if $data.financialGraphsSection.enable }}
{{ with $data.financialGraphsSection }}
<section class="section financial-graphs py-5 bg-light" id="financial-graphs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-3 ml-0">
                <div class="skill__progress">
                    <div class="skill__progress_heading mb-5 ml-0">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        <h3 class="mb-4">Revenues (%)</h3>
                        {{ .content | markdownify }}
                    </div>
                    {{ $section := .revenues }}
                    {{ range $section }}
                    <div class="skill__progress_item">
                        <span class="d-inline-block text-dark"> {{ .title }} </span>
                        <div class="progress-value float-right"><span>{{ .percent }}</span>%</div>
                        <div class="progress bg-white">
                            <div class="progress-bar bg-secondary border-primary" style="width:{{ .percent }}%;" aria-valuemin="0"
                                aria-valuemax="{{ .percent }}"></div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1 my-3 mr-0">
                <div class="skill__progress">
                    <div class="skill__progress_heading mb-5">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        <h3 class="mb-4">Expenditures (%)</h3>
                        {{ .content | markdownify }}
                    </div>
                    {{ $section := .expenditures }}
                    {{ range $section }}
                    <div class="skill__progress_item">
                        <span class="d-inline-block text-dark"> {{ .title }} </span>
                        <div class="progress-value float-right"><span>{{ .percent }}</span>%</div>
                        <div class="progress bg-white">
                            <div class="progress-bar bg-secondary border-primary" style="width:{{ .percent }}%;" aria-valuemin="0"
                                aria-valuemax="{{ .percent }}"></div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
  </section>
{{ end }}
{{ end }}
