<section class="footer" id="contact">
	<div class="footer__background_shape">
		<svg viewBox="0 0 1920 79">
			<path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
		</svg>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="footer__cta">
					<div class="text-white footer__cta_content">
						<span>{{ .Site.Params.footerTopName }}</span>
						<h2 class="mb-0">{{ .Site.Params.footerName }}</h2>
					</div>
					<div class="footer__cta_action">
						<a class="btn btn-light btn-zoom" href="{{ .Site.Params.financialLink | relURL }}"><strong>See Financial Report</strong>
		        </a>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer__widget">
			<div class="col-lg-3">
				<div class="footer__widget_logo mb-5">
					<a class="text-light" target="_blank" href="https://ocasi.org/"><img src="{{ .Site.Params.footerLogo | relURL }}" alt="widget-logo"></a>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer__widget_logo mb-5 text-center">
					<img src="/images/footer/logo-settlement.png" alt="widget-logo">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer__widget_logo mb-5 text-center">
					<img src="/images/footer/logo-etablissement.png" alt="widget-logo">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer__widget_logo mb-5 pt-2 text-center">
					<img src="/images/footer/logo-unitedway.png" alt="widget-logo">
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.map.APIkey }}&libraries=geometry"></script>
<script src="{{ "plugins/jQuery/jquery.min.js" | relURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "plugins/slick/slick.min.js" | relURL }}"></script>
<script src="{{ "plugins/slick/slick.min.js" | relURL }}"></script>
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | relURL }}"></script>
<script src="{{ "plugins/magnafic-popup/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "plugins/tweenmax/TweenMax.min.js" | relURL }}"></script>
<script src="{{ "plugins/masonry/masonry.min.js" | relURL }}"></script>
{{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
