<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a href="{{ .Site.BaseURL }}{{ .Language }}" class="navbar-brand">
      <img src="{{ .Site.Params.logo | relURL }}" alt="site-logo">
    </a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="nav navbar-nav main-navigation my-0 ml-auto mr-5 text-uppercase">
        {{ $menu := .Site.Menus.main }}
        {{ range $index, $element := $menu }}
        <li class="nav-item">
          <a href="{{ $.Site.BaseURL }}{{ .URL }}"
            class="front nav-link text-dark text-sm-center p-2 {{ if $.IsHome }}scroll{{ end }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <ul class="navbar-nav">
          {{ range $.Site.Home.AllTranslations }}
          <li class="btn btn-link btn-zoom hire_button px-3 py-1"><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
      </ul>
    </div>
  </div>
</nav>
