{{ $data := index site.Data site.Language.Lang }}

{{ if $data.resumeSection.enable }}
{{ with $data.resumeSection }}
<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <div class="text-light">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        {{ .title | markdownify }}
                    </div>

                    <div class="btn-group nav mt-5">
                        <a href="#{{.tab1Target}}" class="btn btn-primary active" data-toggle="tab">{{ .tab1Name }}</a>
                        <a href="#{{.tab2Target}}" class="btn btn-primary" data-toggle="tab">{{ .tab2Name }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="{{.tab1Target}}">
                        {{ $Section := .portrait }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}

                    </div>

                    <div class="resume__education tab-pane" id="{{.tab2Target}}">
                        {{ $Section := .agencies }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
