.section{
  padding: 100px 0;
}

.unstyle-list {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
}

section.section.case-details {
  padding: 100px 0!important;
}

section#home h1 {
    font-size: 5.4em;
    line-height: 1em;
}

li.nav-item:first-child a {
}

.text-gray {
  color: #646e6b!important;
}

.bg-gray {
  background-color: #646e6b!important;
}

.footer a:hover, .footer a:active, .footer a:focus {
  color: $primary!important;
  text-decoration: underline;
}

.nav.navbar-nav.main-navigation .nav-item .front::before {
  content: url(/images/site-navigation/home-18dp.svg);
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
}

section.section.singleBlog.singleAbout {
  padding-top: 50px;
}
.section.singleAbout .singleBlog__feature {
  margin: 0;
}

.section.singleAbout h3 {
  margin-top: 2em;
}

.section.singleAbout h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px 40px;
    position: relative;
    display: block;
    text-transform: uppercase;
  }

.section.singleAbout h4::before {
  position: absolute;
    content: "";
    height: 2px;
    width: 20px;
    top: 50%;
    left: -20px;
    transform: translateX(-50%);
    background: #62bf63;
}

.section.singleAbout p, .section.singleAbout ul, .section.singleAbout ol {
 margin-left: 40px;
}

.section.singleAbout p + h4, .section.singleAbout ul + h4, .section.singleAbout ol + h4 {
  margin-top: 2em;
}

.section.singleAbout code {
  display: block;
  margin-top: 9em;
  color: #646e6b;
  font-style: italic;
  font-size: 15px;
  border-top: 1px solid #62bf63;
  padding-top: 1em;
}

.section.singleAbout p > code {
    margin-left: -40px;
}

section.section.blog-page .blog-page__item-thumb {
}

section#financial table {
  margin-bottom: 3em;
  margin-top: 3em;
  width: 100%;
}

section#financial thead {
  border-bottom: 2px solid #ddd;
}

section#financial table td:first-child {
  max-width: 60%;
  width: 100%;
}
section#financial table td:not(:first-child){
  max-width: 20%;
  width: 100%;
}

section#financial thead th:not(:first-child) {
  text-align: right;
  padding-right: 1em;
}

section#financial tbody td {
    padding: 0.62em 1em 0.62em 0.62em;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

section#financial tr:hover {
    background: rgba(98,191,99,0.15);
    color: #020907;
}

section#financial tr {
}

section#financial-graphs .skill__progress {
    margin-left: 0;
}


.breadCrumb a {
  line-height: 1.25em;
}

.breadCrumb a:hover, .breadCrumb a:focus, .breadCrumb a:active {
  text-decoration: underline!important;
  background-color: $light!important;
}

.hero_content h2 {
  font-weight: normal;
}
