//
// Colors
//

// General
$primary: #135D44;
$secondary: #62bf63;
// Text
$headings-color: #34423D;
$body-color: #34423D;

// Grays
$black: #020907;
$white: #fff;
$light: #f9f9f9;
$gray: #646e6b;

//
// Typography
//

// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:wght@400;600&display=swap');
$font-family-base: "IBM Plex Sans", sans-serif;
$headings-font-family: "IBM Plex Serif", cursive;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;

// Weight
$h1-font-weight: 600;
$h2-font-weight: 600;
$h3-font-weight: 600;
$h4-font-weight: 600;
$h5-font-weight: 600;
$h6-font-weight: 600;
